<div class="container">
  <h1>Create Post</h1>
  <p>Author: {{ profile.firstName }} {{ profile.lastName }}</p>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <p>Content:</p>
    <textarea id="content" required formControlName="content" rows = "5" cols = "50" name="content"></textarea>
    <p></p>
    <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Submit</button>
    <button type="button" class="btn btn-success" routerLink="/dashboard">Cancel</button>
  </form>
</div>