<div class="container">
    <h1>My Profile</h1>
    <div *ngIf="!editMode">
      <p>First Name: {{ profile.firstName }}</p>
      <p>Last Name: {{ profile.lastName }}</p>
      <p>Email Address: {{ profile.email }}</p>
      <p>Email Verified: {{ profile.enabled }}</p>
      <button (click)="edit()">Edit</button>
      <button class="btn btn-primary" routerLink="/dashboard">Back to Dashboard</button>
    </div>
    <div *ngIf="editMode">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" class="form-control" id="firstName" required
            formControlName="firstName">
          </div>
          <div>
            <label for="lastName">Last Name: </label>
            <input type="text" class="form-control" id="lastName" required
            formControlName="lastName">
          </div>
      <!-- <div>
        <label for="email">Email: </label>
        <input type="text" class="form-control" id="email" required
        formControlName="email">
      </div> -->
      <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Submit</button>
      <button type="button" class="btn btn-success" (click)="reload()">Cancel</button>
    </form>
  </div>
  </div>