<div class="container" >
        <h1>Dashboard</h1>
        <p>{{ message }}</p>
        <button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="login()" type="submit">Login</button>
        <button *ngIf="!isLoggedIn" class="btn btn-primary" (click)="signup()">Sign Up!</button>
        <div *ngIf="isLoggedIn" class="content">
            <p>You are logged in.</p>
            <button class="btn btn-default pull-right"(click)="logout()" href="#">Logout</button>
            <button class="btn btn-primary" routerLink="/profile">My Profile</button>
            <button *ngIf="isLoggedIn" class="btn btn-primary" routerLink="/create-post">Create Post</button>
        </div>
    <hr>
    <h1>Posts</h1>
    <!-- <button [disabled]="postView==='all'" (click)="setPostView('all')">All Posts</button>
    <button [disabled]="postView==='my'||!isLoggedIn" (click)="setPostView('my')">My Posts</button> -->
    <!-- <table [hidden]="postView===undefined" border=1> -->
      <div style="overflow:scroll; height: 650px; display: inline-block;">
    <table cellpadding=10 border=1>
        <tr>
          <th>Author</th>
          <th>Content</th> 
        </tr>
        <tr *ngFor="let post of displayPosts">
          <td>{{ post.author }}</td>
          <td>{{ post.content }}</td> 
        </tr>
      </table>
    </div>
      <!-- <button [disabled]="!page>0" (click)="prev()">Prev</button>
      <button [disabled]="displayPosts.length===0" (click)="next()">Next</button> -->
    <!-- <router-outlet></router-outlet> -->
    </div>